<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiaong.normal.trade.impl.mq.dao.TradeMQResponseDao">
    <resultMap type="com.huiaong.normal.trade.mq.model.TradeMQResponse" id="TradeMQResponseMap">
        <id property="id" column="id"/>
        <result property="messageId" column="message_id"/>
        <result property="content" column="content"/>
        <result property="exchange" column="exchange"/>
        <result property="routingKey" column="routing_key"/>
        <result property="status" column="status"/>
        <result property="retryCount" column="retry_count"/>
        <result property="nextRetry" column="next_retry"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tb">
        `normal_trade_mq_response`
    </sql>

    <sql id="cols_exclude_id">
        message_id, content, exchange, routing_key, status, retry_count, next_retry,
        created_at, updated_at
    </sql>

    <sql id="cols">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="criteria">
        <if test="id != null">and id = #{id}</if>
        <if test="messageId != null">and message_id = #{messageId}</if>
        <if test="content != null">and content = #{content}</if>
        <if test="exchange != null">and exchange = #{exchange}</if>
        <if test="routingKey != null">and routing_key = #{routingKey}</if>
        <if test="status != null">and status = #{status}</if>
        <if test="retryCount != null">and retry_count = #{retryCount}</if>
        <if test="nextRetry != null">and next_retry = #{nextRetry}</if>
        <if test="createdAt != null">and created_at = #{createdAt}</if>
        <if test="updatedAt != null">and updated_at = #{updatedAt}</if>
    </sql>

    <sql id="values">
        #{messageId}, #{content}, #{exchange}, #{routingKey}, #{status}, #{retryCount}, #{nextRetry},
         now(), now()
    </sql>

    <select id="findById" parameterType="long" resultMap="TradeMQResponseMap">
        select <include refid="cols"/>
        from <include refid="tb"/>
        where id = #{id}
    </select>

    <select id="findByMessageId" parameterType="String" resultMap="TradeMQResponseMap">
        select <include refid="cols"/>
        from <include refid="tb"/>
        where message_id = #{messageId}
    </select>

    <select id="findArticleOneHundredFailToSendMessage" resultMap="TradeMQResponseMap">
        select <include refid="cols"/>
        from <include refid="tb"/>
        where status = 0
        and retry_count &lt; 3
        and next_retry &lt; now()
    </select>

    <insert id="create" parameterType="com.huiaong.normal.trade.mq.model.TradeMQResponse" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="values" />)
    </insert>

    <update id="update" parameterType="com.huiaong.normal.trade.mq.model.TradeMQResponse">
        update <include refid="tb"/>
        <set>
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="exchange != null">exchange = #{exchange},</if>
            <if test="routingKey != null">routing_key = #{routingKey},</if>
            <if test="status != null">status = #{status},</if>
            <if test="retryCount != null">retry_count = #{retryCount},</if>
            <if test="nextRetry != null">next_retry = #{nextRetry},</if>
            updated_at=now()
        </set>
        where id = #{id}
    </update>
</mapper>